<footer>
    <div class="footer-menu-contact">
        <div class="footer-green-harvest">
            <div class="footer-logo">
                <span class="footer-icon">
                    <svg width="24" height="24" viewBox="0 0 30 30" fill="white" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0" y="0" width="8" height="8" />
                        <rect x="11" y="0" width="8" height="8" />
                        <rect x="22" y="0" width="8" height="8" />
                        <rect x="0" y="11" width="8" height="8" />
                        <rect x="11" y="11" width="8" height="8" />
                        <rect x="22" y="11" width="8" height="8" />
                        <rect x="0" y="22" width="8" height="8" />
                        <rect x="11" y="22" width="8" height="8" />
                        <rect x="22" y="22" width="8" height="8" />
                    </svg>
                </span>
                <span class="logo-text">GREEN.HARVEST</span>
            </div>
            <p class="green-harvest-text">
                Whether you're looking for a healthy</br>
                snack or a thoughtful gift, our fruit</br>
                baskets are the perfect choice.
            </p>
        </div>
        <div class="block-menu">
            <ul class="block-menu-list">
                <li class="block-menu-text">HOW IT WORKS</li>
                <li class="block-menu-text">VEGETABLES</li>
                <li class="block-menu-text">REVIEWS</li> 
            </ul>
        </div>
        <address class="contacts">
            <ul class ="footer-contacts">
                <li>
                    <a href="tel:+380684439426" aria-label="Call Green Harvest">+380 (68) 443-94-26</a>
                </li>
                <li>
                    <a href="https://maps.google.com/?q=1678+S.+Pioneer+Road+Salt+Lake+City+UT+84104" aria-label="Find Green Harvest Store on Google Maps">
                        1678 S. Pioneer Road Salt<br>Lake City UT 84104 </a>
                </li>
            </ul>
        </address>  
    </div>
    <div class="privacy">
        <p class="privacy-text">Privacy Policy / Cookie settings</p>
        <p class="green-harvest-2023">&copy;Green-harvest-2023</p>
    </div>
</footer>