<header class="header">
    <div class="header-container">
        <div class="logo">
            <span class="icon">
                <svg width="24" height="24" viewBox="0 0 30 30" fill="white" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0" y="0" width="8" height="8" />
                    <rect x="11" y="0" width="8" height="8" />
                    <rect x="22" y="0" width="8" height="8" />
                    <rect x="0" y="11" width="8" height="8" />
                    <rect x="11" y="11" width="8" height="8" />
                    <rect x="22" y="11" width="8" height="8" />
                    <rect x="0" y="22" width="8" height="8" />
                    <rect x="11" y="22" width="8" height="8" />
                    <rect x="22" y="22" width="8" height="8" />
                </svg>
            </span>
            <span class="logo-text">GREEN.HARVEST</span>
        </div>
   

        <nav class="nav">
            <a href="#">How It Works</a>
            <a href="#">Vegetables</a>
            <a href="#">Reviews</a>
            <a href="#" class="shop-btn">SHOP NOW</a>
        </nav>
        <button type="button" class="mobile-menu-open">
            <svg class="mobile-menu-svg" height="32" width="32">
            <use href="./img/icon.svg#icon-hamburger"></use>
            </svg>
        </button>
  
        <div class="mobile-menu-close">
            <div class="mobile-button">
                <button type="button" class="mobile-btn-close">
                    <svg class="close-menu" width="28" height="28">
                    <use href="./img/icon.svg#icon-close"></use>
                    </svg>
                </button>
        </div>
        <div class="mobile-menu">
            <ul class="mobile-menu-list">
                <li><button type="button" class="mobile-menu-list-item">How It Works</button></li>
                <li><button type="button" class="mobile-menu-list-item">Vegetables</button></li>
                <li><button type="button" class="mobile-menu-list-item">Reviews</button></li>
                <li><button type="button" class="mobile-menu-list-item-shop">SHOP NOW</button></li>
            </ul>
        </div>
   </div>
</header>