<!-- HOW IT WORKS -->
<div class="how-section">
    <div class="how-container">
        <div class="how-images-container">
            <h2 class="how-h-two">How It Works</h2>
            <img class="how-img" src="/img/how-mobile.png" srcset="/img/how-mobile.png, /img/how-tablet.png, /img/how-desktop.png" alt="How-It-Works"/>
        </div>
        <div class="how-text-container">
          <div class="how-text">
                <h3 class="how-h-three">
                TO ORDER YOUR <span class="span-light">VEGETABLE</span> BASKET, SIMPLY
                FOLLOW THESE
                <span class="span-light">EASY STEPS</span>
                </h3>
                <p class="how-paragraf">
                Our baskets are assembled with care and delivered straight to your
                doorstep, so you can enjoy the taste of fresh fruit without ever
                leaving your home.
                </p>
          </div>
          <div class="how-list">
            <ol class="step-list-container order">
                <li class="step-list-item">
                    <div class="order-li"></div>
                    <p class="step step0">
                        Just choose <span class="span-black">the vegetable</span> you want
                        to order by clicking on the checkboxes
                        <span class="span-black">next to it.</span>
                    </p>
                </li>
                <li class="step-list-item">
                    <div class="order-li"></div>
                    <p class="step step1">
                        Click on <span class="span-black">the basket</span> and fill out the
                        form.
                    </p>
                </li>
                <li class="step-list-item">
                    <div class="order-li"></div>
                    <p class="step step2">
                        Sit back and relax! Your
                        <span class="span-black">fresh vegetables</span> basket will be
                        delivered.
                    </p>
                </li>
            </ol>
          </div>
        </div>
    </div>
</div>