<div class="how-it-works">
  <div class="images">
    <h2 class="head-how-it-works">How İt Works</h2>
    <img class="meal-kichen" src="/img/how-mobile.png" alt="meal-kichen" />
  </div>
  <section class="section">
    <div class="tab-container">
      <div class="text">
        <h3 class="text-one">
          TO ORDER YOUR <span class="text-light">VEGETABLE</span> BASKET, SIMPLY
          FOLLOW THESE
          <span class="text-light">EASY STEPS</span>
        </h3>
        <p class="paragraf">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
      </div>
      <ol class="step-list-container order">
        <li class="step-list order-li">
          <p class="step1">
            Just choose <span class="text-black">the vegetable</span> you want
            to order by clicking on the checkboxes
            <span class="text-black">next to it.</span>
          </p>
        </li>
        <li class="step-list">
          <p class="step2">
            Click on <span class="text-black">the basket</span> and fill out the
            form.
          </p>
        </li>
        <li class="step-list">
          <p class="step3">
            Sit back and relax! Your
            <span class="text-black">fresh vegetables</span> basket will be
            delivered.
          </p>
        </li>
      </ol>
    </div>
  </section>
</div>
