<!-- VEGETABLES SECTION -->
<div class="vegetables-section">
    <div class="veg-title">
        <h2 class="veg-h-two">ORGANIC <span class="veg-h-two veg-span">VEGETABLES</span></h2>
        <p class="veg-paragraph">Our organic vegetables are hand-picked from local farms and delivered straight to your
            doorstep, ensuring that you get
            the freshest and most nutritious produce possible.</p>
    </div>
    <div class="veg-cards">
        <ul class="veg-card-list">
            <li class="veg-card-list-item">
                <div class="item-content">
                    <h3 class="veg-h-three">EGGPLANT</h3>
                    <p class="veg-price veg-paragraph">60 USD / kg</p>
                </div>
                <div class="item-image">
                    <img class="item-img" src="/img/eggplant-mobile.png"
                        srcset="/img/eggplant-mobile.png 1x,
                        /img/eggplant-mobile@2x.png 2x,
                        /img/eggplant-tablet.png 1x,
                        /img/eggplant-tablet@2x.png 2x,
                        /img/eggplant-desktop.png 1x,
                        /img/eggplant-desktop@2x.png 2x"
                        sizes="(max-width: 767px) 320px,
                                (max-width: 1279px) 768px,
                                1280px"
                        alt="Eggplant" />
                </div>
            </li>
            <li class="veg-card-list-item">
                <div class="item-content">
                    <h3 class="veg-h-three">LEEK</h3>
                    <p class="veg-price veg-paragraph">50 USD / kg</p>
                </div>
                <div class="item-image">
                    <img class="item-img" src="/img/leek-mobile.png"
                        srcset="/img/leek-mobile.png 1x,
                        /img/leek-mobile@2x.png 2x,
                        /img/leek-tablet.png 1x,
                        /img/leek-tablet@2x.png 2x,
                        /img/leek-desktop.png 1x,
                        /img/leek-desktop@2x.png 2x"
                        sizes="(max-width: 767px) 320px,
                                (max-width: 1279px) 768px,
                                1280px"
                        alt="Leek" />
                </div>
            </li>
            <li class="veg-card-list-item">
                <div class="item-content">
                    <h3 class="veg-h-three">MUSHROOMS</h3>
                    <p class="veg-price veg-paragraph">40 USD / kg</p>
                </div>
                <div class="item-image">
                    <img class="item-img" src="/img/mush-mobile.png"
                        srcset="/img/mush-mobile.png 1x,
                        /img/mush-mobile@2x.png 2x,
                        /img/mush-tablet.png 1x,
                        /img/mush-tablet@2x.png 2x,
                        /img/mush-desktop.png 1x,
                        /img/mush-desktop@2x.png 2x"
                        sizes="(max-width: 767px) 320px,
                                (max-width: 1279px) 768px,
                                1280px"
                        alt="Mushrooms" />
                </div>
            </li>
            <li class="veg-card-list-item">
                <div class="item-content">
                    <h3 class="veg-h-three">CORN</h3>
                    <p class="veg-price veg-paragraph">60 USD / kg</p>
                </div>
                <div class="item-image">
                    <img class="item-img" src="/img/corn-mobile.png"
                        srcset="/img/corn-mobile.png 1x,
                        /img/corn-mobile@2x.png 2x,
                        /img/corn-tablet.png 1x,
                        /img/corn-tablet@2x.png 2x,
                        /img/corn-desktop.png 1x,
                        /img/corn-desktop@2x.png 2x"
                        sizes="(max-width: 767px) 320px,
                                (max-width: 1279px) 768px,
                                1280px"
                        alt="Corn" />
                </div>
            </li>
            <li class="veg-card-list-item">
                <div class="item-content">
                    <h3 class="veg-h-three">SWEET POTATOES</h3>
                    <p class="veg-price veg-paragraph">50 USD / kg</p>
                </div>
                <div class="item-image">
                    <img class="item-img" src="/img/sweet-mobile.png"
                        srcset="/img/sweet-mobile.png 1x,
                        /img/sweet-mobile@2x.png 2x,
                        /img/sweet-tablet.png 1x,
                        /img/sweet-tablet@2x.png 2x,
                        /img/sweet-desktop.png 1x,
                        /img/sweet-desktop@2x.png 2x"
                        sizes="(max-width: 767px) 320px,
                                (max-width: 1279px) 768px,
                                1280px"
                        alt="Sweet Potatoes" />
                </div>
            </li>
            <li class="veg-card-list-item">
                <div class="item-content">
                    <h3 class="veg-h-three">CARROT</h3>
                    <p class="veg-price veg-paragraph">40 USD / kg</p>
                </div>
                <div class="item-image">
                    <img class="item-img" src="/img/carrot-mobile.png"
                        srcset="/img/carrot-mobile.png 1x,
                        /img/carrot-mobile@2x.png 2x,
                        /img/carrot-tablet.png 1x,
                        /img/carrot-tablet@2x.png 2x,
                        /img/carrot-desktop.png 1x,
                        /img/carrot-desktop@2x.png 2x"
                        sizes="(max-width: 767px) 320px,
                                (max-width: 1279px) 768px,
                                1280px"
                        alt="Carrot" />
                </div>
            </li>
        </ul>
    </div>
</div>