/* Mobil: 320px - 375px
@media (max-width: 374px) {
} */

/* MOBİL TASARIM */
/* Mobil (Daha duyarlı hale gelme noktası: 375px+) */

@media (max-width: 374px) {
  .head-advertisement {
    display: none;
  }
  .advertisement {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    /* width: 375px; */
    height: 472px;
    top: 2048px;
    padding: 80px 20px 80px 20px;
    gap: 10px;
    background-color: #fbfbfb;
    /* margin-top: 20px; */
    /* border: 1px solid red; */
  }
  .advertisement-container {
    /* width: 335px; */
    /* height: 312px; */
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-advertisement {
    width: 335px;
    height: 102px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600px;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1.5%;
    vertical-align: middle;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 1);
    margin-top: 0%;
    gap: 10px;
  }
  .discount {
    display: flex;
    border-radius: 12px;
    background-color: rgba(87, 111, 53, 1);
    color: rgba(251, 251, 251, 1);
    width: 335px;
    height: 102px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .head-advertisement {
    display: none;
  }
  .advertisement {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    /* width: 375px; */
    height: 472px;
    top: 2048px;
    padding: 80px 20px 80px 20px;
    gap: 10px;
    background-color: #fbfbfb;
    /* margin-top: 20px; */
    /* border: 1px solid red; */
  }
  .advertisement-container {
    /* width: 335px; */
    /* height: 312px; */
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-advertisement {
    width: 335px;
    height: 102px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600px;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1.5%;
    vertical-align: middle;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 1);
    margin-top: 0%;
    gap: 10px;
  }
  .discount {
    display: flex;
    border-radius: 12px;
    background-color: rgba(87, 111, 53, 1);
    color: rgba(251, 251, 251, 1);
    width: 335px;
    height: 102px;
  }
}

/* TABLET TASARIM (768px - 1279px) */

@media (min-width: 768px) and (max-width: 1279px) {
  .head-advertisement {
    display: none;
  }
  .advertisement {
    margin: 0 auto;
    max-width: 768px;
    width: 768px;
    height: 488px;
    top: 2568px;
    padding: 100px 32px 100px 32px;
    gap: 10px;
    background-color: rgba(251, 251, 251, 1);
    /* margin-top: 20px; */
    /* border: 1px solid green; */
  }
  .advertisement-container {
    width: 704px;
    height: 288px;
    text-align: left;
  }

  .text-advertisement {
    width: 704px;
    height: 256px;
    top: 20px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600px;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -1.5%;
    vertical-align: middle;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 1);
    margin-top: 0%;
  }
  .discount {
    border-radius: 12px;
    background-color: rgba(87, 111, 53, 1);
    color: rgba(251, 251, 251, 1);
    width: 675px;
    height: 86px;
    padding-top: 17px;
  }
}

/*  DESKTOP TASARIM (1280px ve üstü) */

@media (min-width: 1280px) {
  .head-advertisement {
    display: none;
  }
  .advertisement {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    width: 1280px;
    height: 428px;
    top: 1556px;
    padding: 100px;
    gap: 10px;
    background-color: rgba(251, 251, 251, 1);
    /* margin-top: 20px; */
    /* border: 1px solid red; */
  }
  .advertisement-container {
    width: 1080px;
    height: 288px;
    text-align: left;
  }

  .text-advertisement {
    width: 1054px;
    height: 228px;
    left: 16px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600px;
    font-size: 76px;
    line-height: 76px;
    letter-spacing: -1.5%;
    vertical-align: middle;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 1);
    margin-top: 0%;
    display: inline;
  }
  .discount {
    border-radius: 12px;
    background-color: rgba(87, 111, 53, 1);
    color: rgba(251, 251, 251, 1);
    width: 808px;
    height: 84px;
    top: -4px;
  }
}
