footer {
    max-width: auto;
    padding-bottom: 52px;  
    padding-top: 52px;
    padding-left: 100px;
    padding-right: 100px;
    
}
.footer-menu-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap:15px;
    background-color: #7A3145;
    width: 100%;
    height: auto;
    border: none;
    max-width: auto;  
    margin: auto; 
    
}
.footer-logo{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color:#f8f8f8;
    padding-bottom:10px;
  

}
.footer-icon{
    display: flex;
    align-items: center;
    margin-right: 10px; 
    color: #f8f8f8;

}
.footer-green-harvest {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;         
    text-align: start; 
   
}
.green-harvest-text {
    line-height: 20px;
    color: #f8f8f8;
    letter-spacing: 0%;
    text-align: start;
    font-size: 16px;
    font-weight: 500;
}
.block-menu {
    display: flex;
    flex-direction: column;  
    align-items: flex-start;  
    justify-content: flex-start;

    
}

.block-menu-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;

}
.block-menu .block-menu-text{
    list-style-type: none;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5;
    text-align: start;
    color: #f8f8f8;
    padding: 8px;
}
.contacts {
    display: flex;
    flex-direction: column;  
    align-items: flex-start;  
    justify-content: flex-start;
}
.footer-contacts {
    gap: 24px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    justify-content: flex-start ;
}
.footer-contacts a {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    padding: 10px 0; 
    text-decoration: none; 
    color: #f8f8f8;
    font-family: 'Inter' sans-serif;
    font-style: normal;
}
.privacy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap:15px;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #7A3145;
    width: auto;
    height: auto;
    border: none;
    padding-left: 5%;  
    padding-right: 5%; 
    max-width: auto;  
    margin: auto; 
    color: #d48fc4;
    
}
.privacy-text .green-harvest-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}

@media screen and (max-width: 767px){ 
    footer {
        background-color: #7A3145;
        padding-top: 40px;
        padding-right: 20px;
        padding-bottom: 40px;
        padding-left: 20px;
        gap: 80px;
        max-width: 767px;
    }
    .footer-menu-contact {
        display: flex;
        flex-direction: column; 
        align-items: start;
        margin: 0px;
        padding: 0;
        gap: 40px;
        width: auto;
        height: auto;

    }
  
    .footer-green-harvest{
        padding: 0;
        margin: 0;
        gap: 14px !important
        }
    .green-harvest-text{
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;

    }
    .block-menu {
        width: 100%;
        padding: 0;
    }
    .footer-contacts {
        width: 100%;  
        padding: 0 !important;
    }
    .block-menu-list {
        
        gap: 14px !important;
        padding-inline-start: 0 !important;
    }
   
    .block-menu-text{
        font-weight: 600;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.5%;
        text-align: center;
        color: #f8f8f8;
        padding-left: 0 !important;
    }
    .footer-contacts a {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
    }
    .privacy{
        display: flex;
        flex-direction: column;
        align-items: left;
        margin: 0;
        gap: 16px;
        width: 335px;
        height: 56px;
        padding-left: 0;
        padding-top: 90px;
    }
}
@media (min-width: 768px) and (max-width: 1279px) {
    footer{
        background-color: #7A3145;
        padding: 32px;
        gap: 100px !important;
    }
    .footer-menu-contact {
        width: auto 0;
        display: grid; 
        grid-template-rows: auto auto;   
        margin: 0 auto;
    }
    
    .footer-green-harvest {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding: 0;
        gap: 24px;
    }
    
    .block-menu {
        grid-column: 2 / 3; 
        grid-row: 1 / 2;
        text-align: left;
        padding-top: 0 !important;
    }
    .block-menu-list{
        gap: 24px;
        margin: 0 !important;
    }
    .block-menu-text {
        font-weight: 600;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.5%;
        text-align: center;
        padding-left: 0 !important;
        padding-top: 0 !important;  
    }
    
    .contacts {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        text-align: left 
    }
    .footer-contacts{
        margin: 0 !important;
    }
}
    .footer-green-harvest-text{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
    }
    .footer-contacts {
        padding-top: 64px !important;
    }
    .footer-contacts a {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
    }
    .privacy{
        padding-bottom: 20px;
    }
}
@media (min-width: 1280px) {
    footer{
        background-color: #7A3145;
    }
    .block-menu-list{
        margin: 0 !important;
    }
    .footer-contacts{
        margin: 0 !important;
    }
}