* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Mobil: 320px - 375px
@media (max-width: 374px) {
  
} */

/* MOBİL TASARIM */
/* Mobil (Daha duyarlı hale gelme noktası: 375px+) */

@media (min-width: 375px) and (max-width: 767px) {
  .head-how-it-works {
    display: none;
  }
  .how-it-works {
    margin: 0 auto;
    width: 100%;
    top: 840px;
    width: 375px;
    height: 1208px;
  }
  .images {
    display: flex;
    width: 375px;
    height: 532px;
    padding: 40px 20px 40px 20px;
    gap: 10px;
    background-color: #7a3145;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .meal-kichen {
    radius: 30px rgba(20, 20, 20, 0.2);
    width: 335px;
    height: 452px;
  }

  .section {
    width: 375px;
    height: 676px;
    padding: 80px 20px 80px 20px;
    gap: 40px;
    background-color: rgba(87, 111, 53, 1);
  }
  .text {
    width: 335px;
    height: 192px;
    gap: 20px;
  }
  .text-one {
    width: 335px;
    height: 112px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600px;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -1.5%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fbfbfb;
  }
  .text-light {
    color: #d4bfc4;
  }
  .paragraf {
    width: 335px;
    height: 60px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #fbfbfb;
    margin-top: 20px;
  }

  .step-list-container {
    width: 335px;
    height: 284px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(133, 133, 133, 1);
    margin-top: 50px;
  }

  .step-list {
    width: 335px;
    height: 91px;
    padding: 12px 27px 12px 24px;
    gap: 10px;
    background-color: #fbfbfb;
    border-radius: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .text-black {
    font-weight: 700;
    color: rgba(20, 20, 20, 1);
  }
  ol {
    counter-reset: listCounter;
    list-style: none;
    padding: 0;
  }

  li {
    counter-increment: listCounter;
    margin: 10px 0;
    position: relative;
    padding-left: 50px;
  }
  ol li::before {
    content: counter(listCounter);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 52px;
    height: 52px;
    border: 5px solid rgba(212, 191, 196, 1);
    border-radius: 50%;
    background-color: rgba(122, 49, 69, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    margin-left: 25px;
    font-size: 18px;
  }

  .step1 {
    width: 208px;
    height: 60px;
    margin-left: 90px;
    gap: 24px;
  }

  .step2 {
    width: 176px;
    height: 40px;
    margin-left: 90px;
    gap: 24px;
  }

  .step3 {
    width: 211px;
    height: 60px;
    margin-left: 90px;
    gap: 24px;
  }
}

/* TABLET TASARIM (768px - 1279px) */

@media (min-width: 768px) and (max-width: 1279px) {
  .head-how-it-works {
    display: none;
  }
  .how-it-works {
    margin: 0 auto;
    width: 100%;
    width: 768px;
    height: 1548px;
    top: 1020px;
  }
  .images {
    display: flex;
    width: 768px;
    height: 840px;
    padding: 100px 64px 100px 64px;
    gap: 10px;
    background-color: #7a3145;
    justify-content: center;
    align-items: center;
  }
  .meal-kichen {
    radius: 30px rgba(20, 20, 20, 0.2);
    width: 640px;
    height: 640px;
  }
  .section {
    width: 768px;
    height: 708px;
    padding: 100px 164px 100px 164px;
    gap: 10px;
    background-color: rgba(87, 111, 53, 1);
  }
  .text {
    width: 440px;
    height: 180px;
    gap: 24px;
  }
  .tab-container {
    width: 440px;
    height: 508px;
    gap: 52px;
  }
  .text-one {
    width: 440px;
    height: 96px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fbfbfb;
  }
  .text-light {
    color: #d4bfc4;
  }
  .paragraf {
    width: 440px;
    height: 60px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #fbfbfb;
    margin-top: 20px;
  }

  .step-list-container {
    width: 440px;
    height: 276px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(133, 133, 133, 1);
    margin-top: 55px;
  }
  .step-list {
    width: 440px;
    height: 90px;
    padding: 12px 25px 12px 24px;
    gap: 10px;
    background-color: #fbfbfb;
    border-radius: 15px;
    margin-bottom: -10px;
  }

  .text-black {
    font-weight: 700;
    color: rgba(20, 20, 20, 1);
  }
  ol {
    counter-reset: listCounter;
    list-style: none;
    padding: 0;
  }

  li {
    counter-increment: listCounter;
    margin: 10px 0;
    position: relative;
    padding-left: 50px;
  }
  ol li::before {
    content: counter(listCounter);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 52px;
    height: 52px;
    border: 5px solid rgba(212, 191, 196, 1);
    border-radius: 50%;
    background-color: rgba(122, 49, 69, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    margin-left: 25px;
    font-size: 18px;
  }

  .step1 {
    width: 325px;
    height: 40px;
    margin-left: 90px;
    gap: 24px;
  }

  .step2 {
    width: 323px;
    height: 20px;
    margin-left: 90px;
    gap: 24px;
  }

  .step3 {
    width: 323px;
    height: 40px;
    margin-left: 90px;
    gap: 24px;
  }
}

/*  DESKTOP TASARIM (1280px ve üstü) */

@media (min-width: 1280px) {
  .head-how-it-works {
    display: none;
  }
  .how-it-works {
    width: 640px;
    height: 760px;
    top: 796px;
    left: 640px;
    display: flex;
    flex-direction: row;
  }
  .images {
    display: flex;
    width: 640px;
    height: 760px;
    padding: 100px;
    gap: 10px;
    background-color: #7a3145;
    justify-content: center;
    align-items: center;
  }
  .meal-kichen {
    radius: 30px rgba(20, 20, 20, 0.2);
    width: 440px;
    height: 560px;
  }
  .section {
    width: 640px;
    height: 760px;
    padding: 100px 100px 160px 100px;
    gap: 10px;
    background-color: rgba(87, 111, 53, 1);
  }
  .text {
    width: 440px;
    height: 180px;
    gap: 24px;
  }
  .tab-container {
    width: 440px;
    height: 560px;
    gap: 104px;
    margin-top: -20px;
  }
  .text-one {
    width: 440px;
    height: 96px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fbfbfb;
  }
  .text-light {
    color: #d4bfc4;
  }
  .paragraf {
    width: 440px;
    height: 60px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #fbfbfb;
    margin-top: 20px;
  }

  .step-list-container {
    width: 440px;
    height: 276px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(133, 133, 133, 1);
  }
  .step-list {
    width: 440px;
    height: 100px;
    padding: 12px 25px 12px 24px;
    gap: 10px;
    background-color: #fbfbfb;
    border-radius: 15px;
    margin-bottom: 2px;
  }

  .text-black {
    font-weight: 700;
    color: rgba(20, 20, 20, 1);
  }
  ol {
    counter-reset: listCounter;
    list-style: none;
    padding: 0;
  }

  li {
    counter-increment: listCounter;
    margin: 10px 0;
    position: relative;
    padding-left: 50px;
  }
  ol li::before {
    content: counter(listCounter);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 52px;
    height: 52px;
    border: 5px solid rgba(212, 191, 196, 1);
    border-radius: 50%;
    background-color: rgba(122, 49, 69, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    margin-left: 25px;
    font-size: 18px;
  }

  .step1 {
    width: 325px;
    height: 40px;
    margin-left: 90px;
    gap: 24px;
  }

  .step2 {
    width: 323px;
    height: 20px;
    margin-left: 90px;
    gap: 24px;
  }

  .step3 {
    width: 323px;
    height: 40px;
    margin-left: 90px;
    gap: 24px;
  }
}
